html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

button {
  padding: 1.5em;
  border: none;
  border-top: 1px solid black;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.calc {
  border: 2px solid black;
  max-width: 500px;
  width: 90%;
  height: 90%;
  max-height: 750px;
  display: flex;
  flex-direction: column;
}

.screen {
  flex-basis: 25%;
  background-color: black;
  color: white;
}

.keypad {
  flex: 1;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.keys .left .top button {
  background-color: #c9cacc;
}

.keys .left .bottom button {
  background-color: #d4d6d7;
}

.keys .right button {
  background-color: #f98812;
  color: white;
  border-left: 1px solid black;
  border-right: none;
}
