html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

button {
  flex: 1 1 60px;
  width: 60px;
  height: 60px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.calc {
  border: 2px solid black;
  max-width: 500px;
  width: 90%;
  height: 90%;
  max-height: 750px;
}

.screen {
  height: 25%;
}

.keys {
  display: flex;
}

.left-keys {
  flex: 1;
}

.right-keys {
  display: flex;
  flex-direction: column;
}

.top-left-keys {
  display: flex;
}

.bottom-left-keys {
  display: flex;
  flex-wrap: wrap;
}
